;;; Configuration for LIFT tests

;; Settings
(:print-length          100)
(:print-level           50)
(:print-test-case-names t)

;; Suites to run
(parser.ini.test:parser.ini.root)

;; Report properties
(:report-property :title "parser.ini | Test Results")
(:report-property :relative-to parser.ini-test)

(:report-property :format        :html)
(:report-property :full-pathname "test-report.html/")
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style.css")
(:build-report)

(:report-property :format        :junit)
(:report-property :full-pathname "test-results.xml")
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
